.star-border-container {
  display: inline-block;
  position: relative;
  border-radius: 9999px;
  overflow: hidden;
}

.border-gradient-bottom {
  position: absolute;
  width: 300%;
  height: 1px;
  opacity: 0.7;
  bottom: 0;
  right: -250%;
  border-radius: 50%;
  animation: star-movement-bottom linear infinite alternate;
  z-index: 0;
  pointer-events: none;
}

.border-gradient-top {
  position: absolute;
  opacity: 0.7;
  width: 300%;
  height: 1px;
  top: 0;
  left: -250%;
  border-radius: 50%;
  animation: star-movement-top linear infinite alternate;
  z-index: 0;
  pointer-events: none;
}

.inner-content {
  position: relative;
  border: 0px solid rgba(255, 255, 255, 0.1);
  background: transparent;
  color: white;
  font-size: inherit;
  text-align: center;
  padding: 0;
  border-radius: 9999px;
  z-index: 1;
}

@keyframes star-movement-bottom {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(-100%, 0%);
    opacity: 0;
  }
}

@keyframes star-movement-top {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(100%, 0%);
    opacity: 0;
  }
}
